
@{
    ViewData["Title"] = "RegisterNewAccount";
}

<a href="/ManageAccount/RegisterNewStudent" class="btn btn-primary"> Create New Student </a>
<a asp-action="RegisterNewTeacher" asp-controller="ManageAccount" class="btn btn-primary"> Create New Teacher </a>
<a asp-action="RegisterNewAccount" asp-controller="MangaeAccount" class="btn btn-primary"> Create New Manger </a>

